# Server
PORT=3000

# Session Secret (ganti dengan string acak yang aman)
SESSION_SECRET=ubah-dengan-string-random-panjang

# Discord OAuth2 (dapatkan dari Discord Developer Portal)
DISCORD_CLIENT_ID=1513799037860446208
DISCORD_CLIENT_SECRET=rGkq86GsrGzGYe8NXkM5GIQ8BU2O-i1G

# MySQL Database Connection
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=s3_morchdb
